/* General Styles */
body {
    background-image: url('iii.jpg'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    background-position: center; /* Centers the background image */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


